@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --navcolor: #f0f0f0;
    --background: #0F1C70;
    --headingcolor: #1D2C87;
  }

  body {
    font-family: 'Ubuntu', sans-serif;
  }
/* Dark Mode Switch */
  .dark-mode{
    background-color: black;
    color: white;
  }
  .dark-mode .first-heading{
    background-color: black;
    color: white;
  }
  .dark-mode .p-about {
    color: white;
  }
  .dark-mode .first-hr {
    width: 20%;
    border: 2px solid #ffffff;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  .dark-mode .second-hr {
    border: 2px solid #ffffff;
  }
  .dark-mode .third-hr {
    border: 2px solid #ffffff;
  }
  .dark-mode .second-heading{
    background-color: black;
    color: white;
  }
  .dark-mode .p-activity{
    background-color: black;
    color: white;
  }
  .dark-mode .third-heading{
    background-color: black;
    color: white;
  }
  .nav-bar {
    position: absolute;
    border: 1px solid transparent;
    z-index: 1;
    max-width: 100%;
    height: auto;
  }

  /* Not the hamburger menu */

  .main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-size: 1.75em;
  }
  
  .fixed {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* links and list */
  .nav-links {
    text-decoration: none;
    color: var(--navcolor);
  }
  
  .nav-list {
    list-style: none;
  }

  /* Logo image */

  .logo {
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Background with js  */

  .home-bkg {
    background-color: var(--background);
    position: relative;
    background-size: cover;
    background-position: center center;
  }

  .h-100vh {
    width: 100%;
    height: 100vh;
  }


  /* MrMothDevsAcademy, Our Activity, Our Staff */

  .first-heading, .second-heading, .third-heading {
    font-weight: 700;
    font-size: 4vw;
    line-height: 74px;
    color: var(--headingcolor);
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    text-align: center;
  }

  .first-heading {
    position: relative;
    top: 70px;
  }

  .second-heading {
    position: relative;
    top: 250px;
  }

  .third-heading {
    position: relative;
    top: 450px;
  }

  /* Three HR of headings(homepage) */

  .first-hr, .second-hr, .third-hr {
    width: 20%;
    border: 2px solid var(--headingcolor);
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .first-hr {
    position: relative;
    top: 90px;
  }

  .second-hr {
    position: relative;
    top: 270px;
  }

  .third-hr {
    position: relative;
    top: 470px;
  }

  /* Paragraphs of (homepage) */

  .p-about, .p-activity {
    font-size: 1.7vw;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    color: var(--headingcolor);
  }

  .p-about {
    position: relative;
    top: 150px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .p-activity {
    position: relative;
    top: 335px;
    padding-left: 70px;
    padding-right: 70px;
  }
 
  .hidden { /*testimonals*/
    overflow: hidden;
  }

  /* A fixed background with the staff content */

  .testimonals {
    padding: 80px 0;
    background: url('images/bkg.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    top: 500px;
  }

  .testimonals::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 3, 111, 0.8);
    z-index: auto;
  }

  /* Staff part */
  
 .container-staff {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .founder-image, .co-founder-image {
    display: block;
    margin: auto;
    width: 181px;
    height: 180.24px;
    border-radius: 105.824px;
    border: 6px solid rgba(255, 255, 255, 0.13);
  }

  .founder, .cto, .job, .co-founder, .ceo {
    color: var(--navcolor);
    text-align: center;
  }

  .founder, .co-founder {
    padding-top: 25px;
  }

  .cto, .ceo { /* paragraphs that describes the staff */
    font-size: 1.2vw;
    line-height: 30px;
    padding: 15px 200px 40px 200px;
  }

  .job { /* job position */
    font-weight: normal;
    font-style: italic;
  }

  /* Carousel (start) */
  .carousel {
    position: relative;
  }
  
  .carousel.pointer-event {
    touch-action: pan-y;
  }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .carousel-inner::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform 0.6s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-item {
      transition: none;
    }
  }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
  }
  
  .carousel-item-next:not(.carousel-item-start),
  .active.carousel-item-end {
    transform: translateX(100%);
  }
  
  .carousel-item-prev:not(.carousel-item-end),
  .active.carousel-item-start {
    transform: translateX(-100%);
  }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-start,
  .carousel-fade .carousel-item-prev.carousel-item-end {
    z-index: 1;
    opacity: 1;
  }
  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    z-index: 0;
    opacity: 0;
    transition: opacity 0s 0.6s;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
      transition: none;
    }
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-control-prev,
  .carousel-control-next {
      transition: none;
    }
  }
  .carousel-control-prev:hover, .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
  }
  
  .carousel-control-prev {
    left: 0;
  }
  
  .carousel-control-next {
    right: 0;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
  }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
  }

  .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
  }
  @media (prefers-reduced-motion: reduce) {
    .carousel-indicators [data-bs-target] {
      transition: none;
    }
  }
  .carousel-indicators .active {
    opacity: 1;
  }
  

  .visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

/* Carousel (End) */

/* slogan */
.line-1{
  font-weight: 700;
  font-family: monospace;
  color: var(--navcolor);
  text-shadow: 0 4px 4px rgba(0,0,0,.25);
  position: relative;
  top: 50%;  
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(49) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 25.5em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(255,255,255,.75);}
to{border-right-color: transparent;}
}

  @media only screen and (max-width: 768px) {
    nav a {
      display: none;
    }

   .logo {
     width: 70%;
     padding-top: 10px;
   }

   .position {
     position: relative;
     top: -50px;
     left: 350px;
   }

   .hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
   }
  
   .hamburger-menu .bar {
     height: 5px;
    background: var(--navcolor);
    border-radius: 5px;
    margin: 3px 0px;
    transform-origin: right;
    transition: all 0.5s;
    }

  .hamburger-menu:hover .top {
    transform: rotate(-45deg);
   }
    
    .hamburger-menu:hover .middle {
      opacity: 0;
    }
    
    .hamburger-menu:hover .bottom {
      transform: rotate(45deg);
    }

    .first-hr {
      position: relative;
      top: 40px;
    }

    .p-about {
      line-height: 18px;
      position: relative;
      top: 35px;
      padding-left: 50px;
      padding-right: 50px;
    }

    .second-heading {
      position: relative;
      top: 35px;
    }

    .second-hr {
      position: relative;
      top: 5px;
    }

    .p-activity {
      line-height: 18px;
      position: relative;
      top: 25px;
      padding-right: 50px;
      padding-left: 50px;
    }

    .third-heading {
      position: relative;
      top: 35px;
    }

    .third-hr {
      position: relative;
      top: 5px;
    }

    .testimonals {
      position: relative;
      top: 35px;
    }
  
    .cto, .ceo { 
      font-size: 15px;
      line-height: normal;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 45px;
    }
  }
  
  @media (min-width: 1024px) {
    .testimonals {
      background-attachment: fixed;
    }
  }
