<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="MDA - MrMoth Devs Academy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Professional Academy that will be with you in your code journey">
    <meta name="keywords" content="Academy, Professional, Coding, Programming">
    <meta name="author" content="MrMothDevs">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="MDA - MrMoth Devs Academy">
    <meta property="og:description" content="A Professional Academy that will be with you in your code journey">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="MDA - MrMoth Devs Academy">
    <meta property="twitter:description" content="A Professional Academy that will be with you in your code journey">
    <meta property="twitter:image" content="">
    
    <!-- Links -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- CDN per ikonat e rrjeteve sociale -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="style.css">

    <!-- Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">


    <!-- Butoni i dark mode -->
    <script>
    function lol() {
        let element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>

    <title>MDA - MrMoth Devs Academy</title>
    <!-- Kodi per navbarin ne scroll -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="js/navscroll.js"></script>
  </head>
  <body>

    <!-- Preloader per faqen -->
    <div class="loader-container">
      <div class="loader-content">
          <div class="loader"></div>
          <div class="loader-message">
              <span>Loading...</span>
          </div>
      </div>
  </div>
    
    <!-- Buton qe te con ne fillim te faqes (start)-->
    <button onclick="topFunction()" id="scrollBtn" title="Go to top" class="scrollBtn">
      <svg width="1em" height="1em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 10.545L7.176 15.37a1.86 1.86 0 11-2.631-2.631l6.077-6.077a1.949 1.949 0 012.756 0l6.077 6.077a1.86 1.86 0 11-2.631 2.63L12 10.546z" fill="currentcolor" fill-rule="evenodd"></path>
      </svg>
    </button>  
    
    
        <!-- Navigimi (Start)-->
        <header>
          <nav id="navbar" class="navbar">
              <img src="images/mda.png" alt="MDA logo" class="logo">
              <ul class="menu">
                  <li class="nav-item">
                      <a href="/" class="nav-link hvr-underline-from-center" rel="noopener">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="courses" class="nav-link hvr-underline-from-center" rel="noopener">Courses</a>
                  </li>
                  <li class="nav-item">
                      <a href="contact" class="nav-link hvr-underline-from-center" rel="noopener">Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="signup" role="button" class="signup-btn" rel="noopener">Sign Up</a>
                  </li>
              </ul>
              <!-- Butoni i dark mode-->
              <label for="switch">
              <input onclick="lol()" type="checkbox" name="checkbox" class="switch">
              </label>

              <!-- Butoni i animacionit te navigimit responsive-->
              <div class="hamburger">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </nav>
        </header>
        <!-- Navigimi (End)-->

        <!-- Background me Particles JS (Start)-->
    <section class="home-bkg h-100vh" id="home">
      <div class="line-1 anim-typewriter">
    <h1>Sticking Together With A Source Of Quality</h1>
  </div>
  <canvas class="particles-js-canvas-el" style="width: 100%; height: 100%; position: absolute; top: 0px;"></canvas>
</section>
<!-- Background me Particles JS (End)-->

<!--- About Us (Start)-->
<h1 class="first-heading">MrMothDevs Academy</h1>
    <hr class="first-hr">
    <br>
    <div class="typewriter">
      <p class="p-about">MrMoth Devs Academy a.k.a MDA is a new academy founded in 2020 by Ergin Dapaj & Kristjan Seraj. 
        It started as an idea to help others make their first steps in the long road of programming and tech. 
        We're here to help you advance your career, and get hired easily. 
        We'll also get you through the steps of creating your own portfolio as soon as you're done with the course.
      </p>
    </div>
    <!-- About Us (End)-->
    
    <!-- Our Activity (Start)-->
    <h1 class="second-heading">Our Activity</h1>
    <hr class="second-hr">
    <p class="p-activity">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Suspendisse tristique velit id neque scelerisque efficitur. 
      Nullam pellentesque, sem ac tempus viverra, eros turpis volutpat sem, et tincidunt sem metus nec nisl. 
      Phasellus ut risus sit amet libero tempus fringilla. Vestibulum ornare eu eros in tristique. 
      Proin sollicitudin euismod nunc eu faucibus. Donec fermentum aliquam libero, sit amet porta nunc aliquet in. 
      Sed volutpat pretium tellus id euismod. Phasellus sed ligula efficitur, imperdiet lectus sit amet, scelerisque lorem. 
    </p>
    <!-- Our Activitiy (End)-->
    
    <!-- Our Staff (Start)-->
    <h1 class="third-heading">Our Staff</h1>
    <hr class="third-hr">
    
    <!-- Carousel me pjesen e stafit (Start)-->
    <section class="testimonals hidden">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <!-- Vizat qe levizin kur behet slide -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-staff">
              <!-- Founder -->
              <img src="images/Epfp.png" alt="Founder Image" class="founder-image">
                <h1 class="founder">Ergin Dapaj</h1>
                <h2 class="job">Founder & CTO</h2>
                <p class="cto">
                  <q>Hello, I am Ergin Dapaj the founder and CTO of MDA. 
                    I have been a full-stack developer for over 4 years, with more than 40 projects done. 
                        Backend development mainly with Node js, Express, and EJS. Also a discord bot dev. (Node js).</q>
                      </p> 
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="container-staff">
                      <!-- Co-Founder -->
                <img src="images/kpfp.jpg" alt="CO-Founder Image" class="co-founder-image">
                <h1 class="co-founder">Kristjan Seraj</h1>
                <h2 class="job">CO-Founder & CEO</h2>
                <p class="ceo">
                        <q>Hello, I am Kristjan Seraj the co-founder and CEO of MDA. I have been a FrontEnd Developer for 2 years now. 
                          I have worked on different projects. And now I am focusing on MDA to make it a better place for everyone.</q>
                    </p>
                  </div>
                </div>
                <!-- Butonat Carousel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <!-- Carousel me pjesen e stafit (End)-->
    
            <!-- Our Staff (End)-->
            
            <!-- Footer (start) -->
            <footer class="footer">
              <img src="images/mda.png" alt="logo" class="footer-logo">
              <section class="bottom-nav">
                <a href="/" rel="noopener">Home</a>
                <a href="courses" rel="noopener">Courses</a>
                <a href="contact" rel="noopener">Contact Us</a>
                <a href="signup" rel="noopener">Sign Up</a>
              </section>
              <!-- Rrjetet sociale -->
              <section class="social">
                <a href="https://github.com/MrMothDevs" target="_blank" title="Github/MrMothDevs" rel="noopener"><i class="fab fa-github"></i></a>
                <a href="https://www.youtube.com/channel/UCnPiMm-Jp4P5B2dy7SstDjA" target="_blank" title="Youtube/MrMoth" rel="noopener"><i class="fab fa-youtube"></i></a>
                <i class="fab fa-twitter"></i>
                <a href="https://discord.io/remixor" target="_blank" rel="noopener"><i class="fab fa-discord" title="Discord Server/Remixor"></i></a>
              </section>
              <hr>
              <p>&copy; Copyright by <strong><a href="#home" title="Go to Top" rel="noopener">MDA</a></strong> 2021. All Rights Reversed</p>
            </footer>
            <!-- Footer (start) -->
            

            <!-- JavaScript -->

            <!-- JS per funksionin e preloaderit -->
            <script src="js/loader.js"></script>
            
            <script src="js/particles.js"></script>
            <script src="js/particles.app.js"></script>
            
            <!-- JS per funksionin e butonit qe te con ne fillim te faqes -->
            <script src="js/scroll.js"></script>
            
            <!-- Js per funksionin e shfaqjes se navigimit ne mobile -->
            <script src="js/navbar.js"></script>

            <!-- Carousel JS -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
          </body>
          </html>